.App {
  text-align: center;
}

.App p {
  width: 75%;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  overflow-wrap: break-word;
  font-family: 'Lato', sans-serif;
}

.App h4 {
  width: 100px;
  margin: auto;
  padding: 20px 0;
}

.App h2 {
  font-size: 45px;
  font-weight: 800;
  margin: 15px 15px 10px 10px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  color: white;
  position: fixed;
  padding: 20px;
  background: #6320EE;
  transition: 1s;
}

.minimized-header {
  z-index: 1;
  color: white;
  width: 100%;
  position: fixed;
  padding: 15px;
  background: #6320EE;
}

.minimized-header h2 {
  font-size: 20px;
  margin: 0 20px 0 0;
  display: inline-block;
}

.minimized-header .input {
  position: relative;
  display: inline-block;
}

.content {
  left: 0;
  right: 0;
  padding: 50px 0;
  text-align: left;
  max-width: 900px;
  position: absolute;
  margin: 140px auto 0 auto;
}

@media (max-width: 700px) {
  .App p {
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
  }

  .App h2 {
    font-size: 28px;
    font-weight: 800;
    margin: 5px 5px 5px 5px;
    position: relative;
  }

  .content {
    margin: 100px auto 0 auto;
  }

  .minimized-header h2 {
    font-size: 18px;
    margin: 0 10px 5px 0;
  }
}

@media (max-width: 400px) {
  .minimized-header h2 {
    display: block;
    width: 200px;
    margin: auto;
  }
}