.App {
  text-align: center;
}

.App p {
  width: 75%;
  margin: auto;
  overflow-wrap: break-word;
  padding: 20px 0;
  font-size: 14px;
}

.header {
  position: fixed;
  z-index: 1;
  background: white;
  margin: auto;
  padding-bottom: 20px;
  right: 0;
  left: 0;
}

.content {
  position: absolute;
  margin-top: 100px;
  text-align: left;
}